<div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="MemberNavBar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
  
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active":"" )">
                        @Html.ActionLink("Member Home", "Index", "Home", new { area = "Member" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active":"" )">
                        @Html.ActionLink("About", "About", "Home", new { Area = "Member" }, new { })
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active":"" )">
                        @Html.ActionLink("Contact", "Contact", "Home", new { Area = "Member" }, new { })
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ServiceVideo" ? "active":"" )">
                        @Html.ActionLink("Service Videos", "ServiceVideo", "Message/ServiceVideo", new { Area = "Member" }, new { })
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "" ? "active":"" )">
                        @Html.ActionLink("Log Out", "Index", "Home", new { Area = "" }, new { })


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</div>
