@model IEnumerable<Church_App.Models.ContactDetailsModel>

@{
    ViewBag.Title = "JNPC Contact Details";

    Layout = "~/Areas/Pastor/Views/Shared/_PastorLayout.cshtml";
}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Areas/Pastor/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Pastor/Style/PastorStyleSheet.css" rel="stylesheet" />
</head>


<h2 class="heading3">Contact Details</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Of_Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic_Discussed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
        </tr>

        @foreach (var item in Model) // lists records on page
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Contact_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Of_Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic_Discussed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Response)
                </td>
            </tr>
        }
    </table>
